<table>
  <tr>
    <th>Nom</th>
    <th>Prénom</th>
    <th>Email</th>
    <th>Modifier</th>
  </tr>
  <ng-container *ngFor="let user of users">
    <tr>
      <td>{{user.nom}}</td>
      <td>{{user.prenom}}</td>
      <td>{{user.email}}</td>
      <td>UPDATE (Button todo)</td>
    </tr>
  </ng-container>
</table>
