
  <label for="email">Email</label>
  <input id="email" type="text" [(ngModel)]="email">
  <label for="password">Mot de passe</label>
  <input id="password" type="password" [(ngModel)]="password">
  <button (click)="login()">Connexion</button>
